[submodule "Box2d-tools"]
	path = Box2d-tools
	url = https://github.com/SundeepK/Box2d-tools.git
[submodule "SFML-tools"]
	path = SFML-tools
	url = https://github.com/SundeepK/SFML-tools.git
[submodule "anax"]
	path = anax
	url = https://github.com/SundeepK/anax.git
[submodule "splitter"]
	path = splitter
	url = https://github.com/SundeepK/Splitter.git
