Source: luabind-stlport
Priority: optional
Maintainer: Arthur Loiret <aloiret@debian.org>
Build-Depends: debhelper (>= 7.3.0), liblua5.1-0-dev, cmake (>= 2.6), libstlport5.2-dev,
 libboost-dev (>>1.34) | libboost1.35-dev, libboost-python-dev (>>1.34) | libboost-python1.35-dev,
Uploaders: Roberto C. Sanchez <roberto@connexer.com>, Kervala <kervala@gmail.com>
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.rasterbar.com/products/luabind.html

Package: libluabind-stlport0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: luabind c++ binding for lua: runtime library
 Luabind is a library that helps you create bindings between C++ and Lua.
 It has the ability to expose functions and classes, written in C++, to
 Lua. It will also supply the functionality to define classes in lua and
 let them derive from other lua classes or C++ classes. Lua classes can
 override virtual functions from their C++ baseclasses. It is written
 towards Lua 5.0, and does not work with other Lua versions.
 .
 This package contains the luabind runtime libraries, for applications that
 have been built with luabind and STLport.

Package: libluabind-stlport-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libluabind-stlport0 (= ${binary:Version}), ${misc:Depends}
Suggests: libluabind-stlport-dev
Description: luabind c++ binding for lua: unstripped binaries
 Luabind is a library that helps you create bindings between C++ and Lua.
 It has the ability to expose functions and classes, written in C++, to
 Lua. It will also supply the functionality to define classes in lua and
 let them derive from other lua classes or C++ classes. Lua classes can
 override virtual functions from their C++ baseclasses. It is written
 towards Lua 5.0, and does not work with Lua other Lua versions.
 .
 This package contains the luabind unstripped binaries, for debugging
 applications developed with luabind and STLport.

Package: libluabind-stlport-dev
Section: libdevel
Architecture: any
Depends: libluabind-stlport0 (= ${binary:Version}), libstlport5.2-dev,
 libluabind-dev, ${misc:Depends}
Description: luabind c++ binding for lua: headers
 Luabind is a library that helps you create bindings between C++ and Lua.
 It has the ability to expose functions and classes, written in C++, to
 Lua. It will also supply the functionality to define classes in lua and
 let them derive from other lua classes or C++ classes. Lua classes can
 override virtual functions from their C++ baseclasses. It is written
 towards Lua 5.0, and does not work with other Lua versions.
 .
 This package contains all files necessary to develop applications which
 luabind and STLport.

